<head>
    <link rel="stylesheet" href="inicio.component.css">
</head>

<body>
    <div class="page-content-product">
        <div class="main-product">
            <div class="container">
                <div class="row clearfix">
                    <div class="find-box">
                        <h1>XoliT<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; StorE </h1>
                        <hr>
                        <h4>Nunca ha sido tan fácil.</h4>
                    </div>
                </div>
                <div class="row clearfix">
                    <div *ngFor="let item of productos">
                        <app-producto [productoEntrada]="item"></app-producto>
                    </div>
                    <div class="col s12 ">
                        <p>
                            <button class="waves-effect waves-light btn" type="submit ">
                            <i class=" material-icons left ">attach_money</i>Fin Agregar Productos</button>
                        </p>
                    </div>
                    <div class="find-box">
                        <h1>Factura<br>DIAN</h1>
                        <hr>
                        <h4>Registrar datos del cliente</h4>
                    </div>
                    <div class="row">
                        <button class="waves-effect waves-light btn" (click)="RedirectAdmin()">
                                    <i class=" material-icons right ">send</i>Crear Factura</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table responsive">
        <thead>
            <tr>
                <th>
                    Nombres
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    ValorVentaConIva
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of productos">
                <td>
                    {{p.nombre}}
                </td>
                <td>
                    {{p.cantidadUnidadesInventario}}
                </td>
                <td>
                    {{p.valorVentaConIva}}
                </td>
            </tr>
        </tbody>
    </table>
</body>